/Old
/out
/__pycache__
/main/__pycache__
/input
/helper_programs/__pycache__
/helper_programs/__init__.py
/data
*~
*.swp
/saved_models
/images
*knuckles.*
/Test_Bilder
/Notes
/model_info
/helper_programs
README.tex
README.pdf
/auto


